<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">VasyaIT Chat</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if(user) { %>
          <li><a href="/" id="logout">Log out</a></li>
        <% } else { %>
          <li><a href="/registration">Sign up</a></li>
          <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<script>
  (function(){
    $('#logout').on('click', function(){
      $.post('/logout',{})
    })
  }());
</script>