<% layout('/layout/page') -%>
<% block('title', 'Welcome To VasyaIT Chat') %>
<h2>Hello <%= user.get('username') %> </h2>
<div class="row">
	<div class="col-xs-12 col-sm-4 col-sm-offset-4">
		<form id="chat-form">
			<div class="form-group">
				<label for="message">Enter your message</label>
				<input class="form-control" id="message" type="text" required>
			</div>
			<div class="form-group">
				<button type="submit" id="send-btn" class="btn btn-primary pull-right" >Send</button>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-4 col-sm-offset-4">
		<ul id="messages">
			
		</ul>
	</div>
</div>
<% script('/bower_components/socket.io-client/socket.io.js') -%>
<% script('js/chat.js') -%>
