<% layout('/layout/page') -%>
<% block('title', 'Login') %>
<% script('js/login.js') -%>
<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
	<form id="login-form">
		<div class="form-group">
			<label for="username">Name</label>
			<input type="text" name="username" id="username" class="form-control" required>
		</div>
		<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" class="form-control" required>
		</div>
		<button type="submit" class="btn btn-primary pull-right">Sign in</button>
		<div class="login-alerts">
			<div class="alert alert-success 200" role="alert">
				Succesfully logged in. Please Wait.....
			</div>
			<div class="alert alert-danger 403" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			  Enter a valid email address and password
			</div>
			<div class="alert alert-danger 500" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			  Internal Server Error
			</div>
		</div>
	</form>
</div>
