<% layout('/layout/page') -%>
<% block('title', 'Registration') %>
<% script('js/registration.js') -%>
<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
	<form id="login-form">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input type="text" name="firstName" id="firstName" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input type="text" name="lastName" id="lastName" class="form-control" required>
		</div>
		<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" class="form-control" required>
		</div>
		<button type="submit" class="btn btn-primary pull-right">Sign up</button>
		<div class="login-alerts">
			<div class="alert alert-success 200" role="alert">
				Succesfully registrated. Please Wait.....
			</div>
			<div class="alert alert-danger 403" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			  Such user already exists.
			</div>
			<div class="alert alert-danger 500" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			  Internal Server Error
			</div>
		</div>
	</form>
</div>
