.footer {
	display: table;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
  	background-color: #f5f5f5;
	& > .container {
		display: table-cell;
		vertical-align: middle;
		padding-right: 15px;
		padding-left: 15px;
	}
}