@import 'variables';
@import '../../public/bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  & > .container {
    padding: 60px 15px 30px;
  }
}
@import 'components/header';
@import 'components/login';
@import 'components/footer';