<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= blocks.title %></title>
		<link rel="stylesheet" href="/css/app.css">
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<%- include ../partials/header %>
		</header>

		<section class="container">
			<h1 class="text-center"><%= blocks.title %></h1>
			<div class="content"><%- body %></div>
		</section>

		<footer class="footer">
			<%- include ../partials/footer %>
		</footer>
		<%-scripts%>
	</body>
</html>